@import "tailwindcss";

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-main);
}

@theme {
  --color-main: #FFFFFF;
  --color-secondary: #343330;
  --color-base-1: #F87060;
  --color-base-2: #AA8F76;
  --color-cards: #F8706010;
  --color-cards-2: #F8706030;
  --color-sections: #AA8F7630;
  --color-classic: #00000010;

  --breakpoint-sm: 580px;
  --breakpoint-2xl: 1700px;

  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

.group:hover .brand-track {
  animation-play-state: paused;
}

/* Hides scrollbar in WebKit-based browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides scrollbar in Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--color-main);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-base-1);
  border-radius: 10px;
}

body::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}